{% extends "base.html" %}
{% load static %}
{% block content1 %}
<div class="row my-5">

  <div class="col-12 d-flex justify-content-center align-item-center">
    <div class="circular-image-container">
      <img class="circular-image" src="{% static 'images/img.jpg' %}" alt="images/img.jpg">
    </div>
  </div>

  <div class="col-12 text-center mt-3">
    <h4 class="title">Hi, My nanme is </h4>
    <div class="name">
      <h1>Sekar Thangaraj</h1>
      <h1>I am Junior Web Developer</h1>
    </div>
    

  </div>

  <div class="col-12 text-center mt-3">
    <div class="col-12 d-flex justify-content-center align-item-center">
      <a href="https://www.linkedin.com/in/sekarthangaraj07/" target="_blank" class="ms-3">
        <img class="social_links" src="{% static 'images/linkedin_img.png' %}" alt="" width="40" height="40">
      </a>
      <a href="https://github.com/Sekar7780" target="_blank" class="ms-3">
        <img  class="social_links" src="{% static 'images/github_img.png' %}" alt="" width="40" height="40">
      </a>
    </div>
    

  </div>
</div>


{% endblock content1 %}